body {
  font-family: 'Open Sans', sans-serif;
}

.past {
  background-color: #ff0000;
}

.present {
  background-color: #636363;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
