body {
  font-family: 'Open Sans', sans-serif;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

